extends layout

block content
  section.max-w-2xl.mx-auto.text-center.relative
    .my-6
      h1.h1 #{title}
      p.text-gray-400
        a(href=externalURL target="_blank") #{externalURL}
    p
      each tag in tags
        span.project-badge #{tag}
    h2.tracking-wide.mt-6.text-xl.text-gray-100 #{description}

    .absolute.z-10.top-0.left-0(class="lg:-ml-24")
      a.block(href="/projects")
        svg.text-white(xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
          line(x1='19' y1='12' x2='5' y2='12')
          polyline(points='12 19 5 12 12 5')


  section.max-w-7xl.mx-auto.p-6.flex.gap-8.flex-wrap.justify-center
    if videoURL
      .w-full.aspect-w-16.aspect-h-9.rounded-lg
        iframe(src=videoURL frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')

    each screenshotURL in screenshotURLs
      img.rounded-lg(src="/img/projects/"+slug+"/"+screenshotURL alt=title loading="lazy" style="max-height: 600px")
